<?xml version="1.0"?>
<phpunit
	bootstrap="test/bootstrap.php"
	backupGlobals="false"
	colors="true"
	>
	<testsuites>
		<testsuite name="integration">
			<directory>./test/integration/</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./admin</directory>
			<directory suffix=".php">./connectors</directory>
			<directory suffix=".php">./import</directory>
			<directory suffix=".php">./rest-api</directory>
			<directory suffix=".php">./webhook</directory>
			<file>./disciple-tools-crm-sync.php</file>
			<file>./config.php</file>
		</include>
		<report>
			<text outputFile="php://stdout"/>
		</report>
	</coverage>
</phpunit>
